@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    padding: 21px 40px;
    color: white;
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border: none;
    margin-top: 25px;
}

/* nav section */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 220px;
    margin: 0px auto;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo h2 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.G {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tabs,
.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.text li {
    list-style: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}

.follow-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 20px;
}

.follow-btn img {
    width: 24px;
}

/* Banner Section */

.banner-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 70vh; */
    /* padding: 35px 220px; */
}

.banner-info {
    background-image: url("../images/Group 14.png");
    background-repeat: no-repeat;
    background-position: cover;
    height: 100%;
    width: 50%;
    padding: 148px 300px 148px 0px;
}

.banner-info h1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0px 0px 0px 220px;
}

.banner-info h2 {
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0px 0px 24px 220px;
}

.banner-info p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 0px 17px 220px;
}

.btn1 {
    margin-left: 220px;
    margin-right: 24px;
}

.btn2 {
    background: #4EC5F7;
}

.banner-img {
    margin-right: 220px;
}
.banner-img img{
    width: 100%;
}

.videos-section {
    margin: 120px 220px 250px 220px;
    text-align: center;
}

.videos-section h1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.funny-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#videos-section-p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin: 48px 0px;
    position: relative;
}

.video-paragraph {
    margin-top: 24px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.overlay-parent {
    position: relative;
    display: inline-block;
}

.overlay-parent img {
    /* width: 100%; */
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
}

.overlay-parent:hover img {
    filter: brightness(50%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border: 5px solid #F948B2;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* overflow: hidden; */
}

.overlay-parent:hover .overlay {
    opacity: 1;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(59, 5, 255);
}

.overlay-content img {
    margin: 0;
    padding: 0;
    width: 50px;
}

.overlay-content p {
    margin: 10px 0;
    padding: 0;
}


/* Play Instant Section */

.play-instant-section {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 120px 220px;
    gap: 350px;
    margin-bottom: 0px;
    height: 80vh;
}

.play-text-sec {
    width: 33%;
    position: relative;
    bottom: 260px;
    left: 70px;
}

.play-text-sec h1 {
    color: #0B0223;
    text-align: right;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-text-sec p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}

.img2 {
    position: relative;
    bottom: 300px;
    right: 150px;
}

.gaming-genre-container {
    background: linear-gradient(90deg, rgba(218, 16, 120, 0.11) 0%, rgba(255, 66, 165, 0.03) 100%);
    /* display: grid;
    grid-template-columns: (5, 1fr); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    grid-gap: 30px;
    padding: 150px 220px;
    text-align: center;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    background: #FFF;
    padding: 10px;
    border: 3px solid #fafafa;
}

.game-container:hover {
    border: 3px solid #FF42A5;
}

.game-container p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.game-container:hover p {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    background: #0B0223;
    padding: 80px 220px;
    margin: 0px auto;
}

.footer-logo {
    width: 15%;
    margin: 70px auto;
}

.footer-logo h2 {
    color: white;
}

.links-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 55%;
    margin: 0px auto;
    margin-bottom: 60px;
}

.links-footer a {
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    margin: 70px auto;
    cursor: pointer;
}

.footer-social img {
    width: 50px;
}

.links-footer2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
    margin: 70px auto;
    margin-bottom: 60px;
}

.links-footer2 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

footer p {
    width: 50%;
    margin: 0px auto 50px auto;
    color: rgba(255, 255, 255, 0.397);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}