@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* nav section */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 220px;
    margin: 0px auto;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo h2 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.G {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tabs,
.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.text li {
    list-style: none;
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}

.follow-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    background-color: ;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 20px;
}

.follow-btn img {
    width: 24px;
}